<section class="text-black h-screen flex justify-center items-center">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-black font-mono">KKSI DATA SCIENCE 2021</h1>
      <p class="leading-relaxed mb-8 font-normal">
        Website ini dibuat untuk memuat rangkuman video daring, file, dan dokumentasi lainnya terkait KKSI tahun 2021 bidang Teknologi Data Science.
      </p>
      <a href="https://instagram.com/ardhptr21" class="bg-green-200 px-4 py-2 rounded-xl" target="_blank">Made with 💚 by Ardhi Putra</a>
    </div>
  </div>
</section>
