<section class="mt-10">
  <div class="max-w-6xl mx-auto px-5 py-24">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="title-font mb-2 text-4xl font-extrabold leading-10 tracking-tight text-left sm:text-5xl sm:leading-none md:text-6xl">
        VIDEO
      </h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <%- include("../components/card.ejs", {data: {title: "Pertemuan 1", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quaerat sunt dolorum labore nisi quam officia quae velit est iure!", date: "11 September 2021", url: "https://google.com/"}}) %> 
    </div>
  </div>
</section>
