<div class="h-screen w-screen dark:bg-gray-800 flex flex-col items-center gap-3 justify-center content-center flex-wrap">
  <h1 class="text-9xl font-bold text-green-400">404</h1>
  <p class="text-2xl">Sorry we couldn't find this page</p>
  <a href="/" class="btn">Back to Home</a>
</div>
