<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title || "KKSI 2021 DATA SCIENCE"%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="dark:bg-gray-800 dark:text-white">
    <!-- header -->
    <% if (locals.navbar != "no") { %>
    <header><%- include("./navbar.ejs", {page_name: locals.page_name || ''}) %></header>
    <% } %>
    <!-- main content -->
    <%- body %>
    <!-- for javascript -->
    <%- locals.script || "" %>

    <script>
      const theme = localStorage.getItem("theme");
      const switchBtn = document.getElementById("switch");

      document.addEventListener("DOMContentLoaded", () => {
        switchBtn?.classList.remove("translate-x-7");
        document.documentElement.classList.remove("dark");

        if (theme == "dark") {
          switchBtn?.classList.add("translate-x-7");
          document.documentElement.classList.add("dark");
        }
      });
    </script>
  </body>
</html>
