<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <meta name="keyword" content="kksi, 2021, kksi2021, datascience, kksidatascience" />
    <meta
      name="description"
      content="Website ini dikhususkan untuk mengelola atau menampung hal hal yang berkaitan mengenai acara KKSI 2021 dalam bidang Data Science, contoh nya video daring, file file, dan link/url yang berkaitan mengenai acara tersebut"
    />
    <meta name="author" content="@ardhptr21" />
    <meta property="og:url" content="https://kksi2021-datascience.herokuapp.com" />
    <meta property="og:site_name" content="KKSI 2021 DATA SCIENCE" />
    <meta property="og:title" content="KKSI 2021 DATA SCIENCE" />
    <meta
      property="og:description"
      content="Website ini dikhususkan untuk mengelola atau menampung hal hal yang berkaitan mengenai acara KKSI 2021 dalam bidang Data Science, contoh nya video daring, file file, dan link/url yang berkaitan mengenai acara tersebut"
    />
    <meta property="og:image" content="/assets/icons8-graph.gif" />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:type" content="website" />
    <meta itemprop="name" content="KKSI 2021 DATA SCIENCE" />
    <meta
      itemprop="description"
      content="Website ini dikhususkan untuk mengelola atau menampung hal hal yang berkaitan mengenai acara KKSI 2021 dalam bidang Data Science, contoh nya video daring, file file, dan link/url yang berkaitan mengenai acara tersebut"
    />
    <meta name="language" content="Indonesian" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title || "KKSI 2021 DATA SCIENCE"%></title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- this favicon gif is from icons8.com https://icons8.com/icon/wsigyceriwea/graph -->
    <link rel="shortcut icon" href="/assets/icon/icons8-graph.gif" type="image/gif" />
  </head>
  <body class="dark:bg-gray-800 dark:text-white">
    <!-- header -->
    <% if (locals.navbar != "no") { %>
    <header><%- include("./navbar.ejs", {page_name: locals.page_name || ''}) %></header>
    <% } %>
    <!-- main content -->
    <%- body %>
    <!-- for javascript -->
    <%- locals.script || "" %>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const theme = localStorage.getItem("theme");
        if (theme != "dark") {
          document.documentElement.classList.remove("dark");
        } else {
          document.documentElement.classList.add("dark");
        }
      });
    </script>
  </body>
</html>
