<section class="h-screen flex justify-center p-5 items-center">
  <form
    method="POST"
    action="/auth/login"
    class="p-5 max-w-full w-80 bg-white dark:bg-gray-900 rounded flex justify-center items-center flex-col shadow-md"
    autocomplete="off"
  >
    <h1 class="mb-5 text-3xl uppercase text-gray-600">Login</h1>
    <input
      type="username"
      name="username"
      class="mb-5 p-3 w-full focus:border-green-400 dark:bg-gray-700 rounded border-2 outline-none"
      placeholder="Username"
      required
    />
    <input
      type="password"
      name="password"
      class="mb-5 p-3 w-full focus:border-green-400 dark:bg-gray-700 rounded border-2 outline-none"
      placeholder="Password"
      required
    />
    <% if (messages.error) { %>
    <p class="text-red-400 w-full mb-5">*<%= messages.error %></p>
    <% } %>
    <button class="bg-green-400 w-full hover:bg-green-600 text-white font-bold p-2 rounded uppercase" type="submit">Login</button>
  </form>
</section>
