<div class="card">
  <div class="card-content">
    <h2 class="card-title"><%= data.title %></h2>
    <p class="card-text">
      <%= data.description %>

      <a href="<%= data.url || "#" %>" target="_blank" class="text-blue-500 mt-5 inline-flex items-center font-semibold tracking-wide">
        <span class="hover:underline"> Lihat </span>
        <span class="text-xl ml-2">&#8594;</span>
      </a>
    </p>

    <% if (data.date) { %>
    <div class="text-center mt-2 leading-none flex justify-between w-full">
      <span class="mr-3 inline-flex items-center leading-none text-sm py-1">
        <svg class="fill-current w-4 h-4 mr-2 text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"
          />
        </svg>
        <%= data.date %>
      </span>
    </div>
    <% } %>
  </div>
</div>
