<a href="<%= data.url || "#" %>" class="block group card max-w-full">
  <div class="card-content group-hover:shadow-lg">
    <h2 class="card-title group-hover:text-green-400 duration-300 overflow-x-auto overflow-y-hidden"><%= data.title %></h2>
    <p class="card-text">
      <%= data.description %>

      <p target="_blank" class="group-hover:text-green-400 duration-300 mt-5 block items-center font-semibold tracking-wide">
          <span class="group-hover:underline"> Lihat </span>
          <span class="text-xl ml-2 inline-block transform duration-300 group-hover:translate-x-3">&#8594;</span>
      </p>
    </p>
  </div>
</a>

<style>
  .card-title::-webkit-scrollbar {
    width: 0;
  }
  .card-title::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  }
  .card-title::-webkit-scrollbar-track {
  background-color: transparent;
  }
  .card-title::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
  }
</style>